body {
    background-color: rgb(27, 25, 45);
    margin: 0;
    padding: 0;
}

canvas {
    /* for a 800 pixel canvas, place 400 pixels left of center */
    margin: 20px calc(50vw - 400px);
    background-color: white;
}
