body {
    background-color: rgb(6, 0, 61);
    margin: 0;
    padding: 0;
    
    overflow: hidden;
}

canvas {
    /* for a 800 pixel canvas, place 400 pixels left of center */
    margin: 20px calc(50vw - 400px);
    border : 1px solid black;
    border-radius: 5px;
}

#background {
    position: absolute;
    max-width: 1000px;
    margin: 0 calc(50vw - 500px);             
    z-index: -1;  
}

